PORT=8080
ACCOUNTS_GRPC_HOST=localhost
ACCOUNTS_GRPC_PORT=50051
SUBSCRIPTIONS_GRPC_HOST=localhost
SUBSCRIPTIONS_GRPC_PORT=50052
RUNNER_GRPC_HOST=localhost
RUNNER_GRPC_PORT=50053
SERVICE_NAME=api-gateway
SERVICE_TOKEN=4f7f956f34bcfa0c9a55aff6b98c4e1d87e1da6d0d33f5021b5937123d7330c1
JWT_SECRET=api-gateway-super-secret-jwt-key-2026
ALLOWED_ORIGINS=*
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC_WEBHOOK_DISPATCH=webhook-dispatches
KAFKA_TOPIC_WEBHOOK_RESULTS=webhook-results
KAFKA_ENABLED=true
