# ==============================================================================
# Docker Environment Variables Configuration
# ==============================================================================

# Database
MYSQL_PORT=3307
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE_ACCOUNTS=webhook_accounts
MYSQL_DATABASE_SUBSCRIPTIONS=webhook_subscriptions
MYSQL_DATABASE_RUNNER=webhook_runner

# Microservices Ports
ACCOUNTS_GRPC_PORT=50051
SUBSCRIPTIONS_GRPC_PORT=50052
RUNNER_GRPC_PORT=50053
API_GATEWAY_PORT=8080
FRONTEND_PORT=5173

# Apache Kafka Event Streaming
KAFKA_PORT=9092
KAFKA_BROKERS=kafka:9092
KAFKA_TOPIC_WEBHOOK_DISPATCH=webhook-dispatches
KAFKA_TOPIC_WEBHOOK_RESULTS=webhook-results
KAFKA_GROUP_ID=webhook-runner-group
KAFKA_ENABLED=true

# Security & Secrets
SERVICE_AUTH_TOKEN=4f7f956f34bcfa0c9a55aff6b98c4e1d87e1da6d0d33f5021b5937123d7330c1
JWT_SECRET=api-gateway-super-secret-jwt-key-2026
