# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
accounts/Seeder
accounts/migrate

# Environment variables
.env
.env.*
!.env.example

# IDEs
.idea/
.vscode/
*.swp
*~

# OS
.DS_Store

# Test / Coverage
*.out
*.test
